---
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

.layout--home .archive__item-title {
  font-size: 1.05rem;
  line-height: 1.25;
}
